:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body{
  background: #242424;
  color: #fff;
}

ul{
  list-style-type: none;
}

button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
}


.container{
  width: 70%;
  margin: auto;
}

.container h1{
  margin-bottom: 10px;
  text-align: center;
}

.container .content{
  width: 100%;
}

.content .typing{
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto; 
  margin-bottom: 20px;
}

.typing input{
  width: 69%;
  height: 100%;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
}
.typing button{
  width: 30%;
  height: 100%;
  padding: 0 10px;
  border-radius: 0 8px 8px 0;
  margin-left: 3px;
}
.typing button:hover{
  border-color: rgb(0, 246, 0);
}


ul li{
  width: 80%;
  background-color: rgb(53, 53, 53);
  /* padding: 5px; */
  margin: auto;
  margin-bottom: 10px;
  padding-left: 10px;
}

ul li .view{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li .view .buttons{
  width: 155px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li .view .buttons .edit:hover{
  border-color: rgb(0, 201, 246);
}

ul li .view .buttons .delete:hover{
  border-color: rgb(246, 0, 0);
}

ul li .editText{
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li .editText input{
  width: 70%;
  height: 30px;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
}
ul li .editText button{
  width: 30%;
  margin-left: 5px;
  border-radius: 0 8px 8px 0;
}
ul li .editText button:hover{
  border-color: rgb(0, 41, 246);
}